@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: #eeeeee;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body {
  height: 100vh;
  width: 100%;
}

body {
  background: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 70%;
  width: 60%;
  display: grid;
  grid-template-rows: repeat(2, 50%);
  align-items: center;
  background: #31363f;
  border-radius: 3px;
  box-shadow: #eeeeeec4 0 0 1px 0;
}

.game-pad,
#liveFeedback {
  white-space: pre-line;
  line-height: 40px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
  gap: 40px;
}

#rock,
#paper,
#scissors,
#rock img,
#paper img,
#scissors img {
  height: 120px;
  width: 125px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

#rock img:hover,
#paper img:hover,
#scissors img:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eeeeee80;
  text-align: center;
}

#resultMsg {
  white-space: pre-line;
  height: 40%;
  width: 70%;
  color: #222831;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3.5px;
  word-spacing: 4px;
  line-height: 50px;
  text-align: center;
}

#resetBtn {
  height: 60px;
  width: 130px;
  color: #222831;
  background: #76abae;
  border: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 10px;
  cursor: pointer;
  box-shadow: #222831 0 0 1px 0;
  transition: all ease-in-out 0.4s;
}

#resetBtn:hover {
  letter-spacing: 4px;
  transform: scale(1.02);
}

.hidden {
  display: none;
}

@media (max-width: 780px) {
    .game-container {
        width: 90%;
        height: 80%;
    }

    
    #rock,
    #paper,
    #scissors,
    #rock img,
    #paper img,
    #scissors img {
        height: 80px;
        width: 85px;
    }

    .game-pad,
    #liveFeedback {
        flex-wrap: wrap;
        gap: 20px;
    }
    
}
